-# код страницы, взятый из wysiwyg
.content.treatment
  .pagetitle.mainpage__title
    .layout-line
      %h1.pagetitle__title Слово модераторов
  .layout-line.layout-wrapper
    %br
    .treatment-item
      %img{:src => "/images/web/kostenyaev.jpg"}/
      %h3 Валерий Костин
      %h4 генеральный директор, компания «Стачка»
      
    %p Мы подготовили для вас своеобразный дайджест по «Стачке 2016» с деталями по докладам и спикерам каждой из 10 представленных секций. Надеемся, что данная информация поможет вам сориентироваться в более 170 докладах от более 150 спикеров и выбрать материал, который будет полезен вам как для работы, так и для развития вас как ИТ-профессионала.
    %p.clearfix
    %br
    .treatment-item
      %img{:src => "/images/web/kalimullin.jpg"}/
      %h3 Камиль Калимуллин,
      %h4
        координатор программного комитета конференции «Стачка»,
        руководитель в AdvantShop и «Группа компаний «ИТМ»
      
    %p В этом году у нас получилось реализовать самое сложное из задуманного в плане организации конференции: структурировать контент, отведя под секции отдельные залы. В итоге нас ожидает два насыщенных дня: 10 залов (на 2 больше, чем в прошлом году) и более 170 докладов от полутора сотни лучших российских и зарубежных спикеров, готовых делиться опытом и наработанными кейсами. За пять лет «Стачка» выросла и стала своеобразной конференция конференций, — новые залы дали возможность осветить новые темы, которые раньше не рассматривались: компьютерные игры, 3D-графика и видеопродакшн, человеческий потенциал и образование в ИТ.
    %p Мы постарались скомпоновать секции таким образом, чтобы каждый слушатель смог получить на параллельных потоках смежные знания, актуальные для своей профессии, не ограничиваясь на «горящих» рабочих вопросах. Если вы программист и интересуетесь языками программирования, к вашему вниманию доклады про Python, Scala, Erlang, Ruby. Если вы занимаетесь маркетингом, вы сможете найти для себя лекции, касающиеся не только SEO, контента, контекстной и мобильной рекламы, но и, к примеру, менеджмента. В этом году мы также проработали секцию «Менеджмент», где собраны доклады как про управление проектами, так и, например, по управлению коммерцией. Стоит отметить, что тематика управления раскрыта в каждой из представленных секций.
    %p Конференция будет также будет полезна предпринимателям, желающим продавать свои товары и услуги через интернет: во второй день конференции, в рамках секции «E-commerce» мы запускаем школу интернет-магазинов и привозим топовых спикеров по электронной коммерции.
    %p
      Советую обратить внимание на мастер-класс
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=804#lecture_804", :title => ""} Николая Страх
    %p.clearfix
    .treatment-text-gray
      %a{:href => "http://nastachku.ru/lectures", :title => ""} Полный список докладов «Стачки 2016»
    %br
    %br
    %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} Техническая секция
    %br
    .treatment-item
      %img{:src => "/images/web/bagenov.jpg"}/
      %h3 Даниил Баженов
      %h4 Технический директор Simtech Development
    %p.clearfix
    %br
    %br
    .treatment-item
      %img{:src => "/images/web/subbota.jpg"}/
      %h3 Андрей Суббота
      %h4 Технический директор Ульяновского филиала АО «Рестрим»
      
    %p
      В этом году технические доклады можно условно разделить на несколько направлений: есть сильные доклады по фронтенду, бэкенду, базам данных, аналитике и мониторингу серверов, отдельный зал будет отведен под языки программирования (Erlang, Ruby, асинхронный PHP и др.) — можно найти пищу для ума на весь день. В числе спикеров в этом году сотрудники компаний Opera, VK, Злые марсиане, Mail.RU GROUP, Microsoft, Яндекс, Rambler&Co, Virool, MachineZone и др. Среди англоязычных спикеров выступит
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=693#lecture_693", :title => ""} Alvaro Videla
    %p
      Отдельным блоком можно выделить доклады для менеджеров. В числе спикеров будут, например,
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=699#lecture_699", :title => ""} Аскар Рахимбердиев
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=630#lecture_630", :title => ""} Роман Ивлиев
      %a{:href => "http://nastachku.ru/lectures?lecture_id=817#lecture_817", :title => ""} Стаса Кельвича
      и 
      %a{:href => "http://nastachku.ru/lectures?lecture_id=785#lecture_785", :title => ""}> Олега Бартунова
      ,
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=786#lecture_786", :title => ""} Дмитрия Васильева
      %a{:href => "http://nastachku.ru/lectures?lecture_id=788#lecture_788", :title => ""} Михаила Кулагина
      из Postgres Professional.
    %p В рамках технической секции мы также запланировали подсекцию «Техно нон-стоп» — своеобразную «инъекцию» новых технологий, состоящую из интересных двадцатиминутных докладов в стиле TED о новых прорывных технологиях, показывающие тесную связь информационных технологий с генетикой, микроэлектроникой, энергетикой. Спикеры расскажут о расшифровке генов и о роли ИТ в этом вопросе, об альтернативных источниках энергии, о разработке инновационных строительных материалов. Вы узнаете куда тратят многомиллионные бюджеты на исследования такие известные компании как Apple и Google.
    %p
      А вы знаете, какие технологии используются в космической отрасли и как IT помогает работе космонавтов? Мы тоже не знаем. Поэтому мы решили пригласить на «Стачку» космонавта отряда Роскосмоса.
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=692#lecture_692", :title => ""} Сергей Рязанский
    %br
    %br
    %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} Тестирование (QA)
    %br
    .treatment-item
      %img{:src => "/images/web/remizova.jpg"}/
      %h3 Екатерина Ремизова
      %h4 Руководитель отдела тестирования, СимбирСофт
    %p
      На нашей подсекции по тестированию мы ждем как опытных guru, так и начинающих тестировщиков, только входящих в данную профессию. Доклады охватят трендовые направления QA и тестирования: о введение на своем проекте автоматиазции расскажет
      %a{:href => "http://nastachku.ru/lectures?lecture_id=518#lecture_518", :title => ""} Игорь Любин
      из auto-testing.ru, о нагрузочном тестировании расскажет венгр
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=743#lecture_743", :title => ""} Свен Сакс
    %p.clearfix
    .treatment-text-gray
      %a{:href => "http://nastachku.ru/lectures?q[workshop_id_eq]=11", :title => ""} Все доклады Технической секции
    %br
    %br
    %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} E-commerce секция
    %p Создать интернет-магазин и получить первые продажи не сложно. Это можно сделать за несколько дней. А что с ним делать дальше? Секция электронной коммерции предлагает вам ясное пошаговое представление о создании, и, главное, дальнейшем развитии интернет-магазина. За два насыщенных дня лекций практики рынка раскроют перед вами что из себя представляет интернет-магазин изнутри: вы будете знать, когда и как включать дополнительные мощности, чтобы поднять магазин на новый уровень доходов. Профессионалы интернет-торговли поделятся с вами своим опытом в управлении, логистике, маркетинге и продажах. Начинающие и уже работающие магазины найдут ответы на свои вопросы, получат знания, способные вывести ваш интернет-магазин на космические высоты.
    %p В рамках секции электронной коммерции мы собрали как «пионеров» e-commerce, которые приедут поделятся своими знаниями в рамках Школы «Интернет-магазин как бизнес» с предпринимателями, которые только планируют или недавно начали осваивать интернет-торговлю, так и «комсомольцев» индустрии с успешными кейсами и историями успеха от лидеров рынка. Новички смогут узнать как выстроить процесс интернет-торговли от и до, профессионалы же смогут сориентироваться есть ли у них пробелы в знаниях и обновить актуальные цифры по рынку.
    .treatment-item
      %img{:src => "/images/web/gamova.jpg"}/
      %h3 Ксения Гамова
      %h4 CMO AdvantShop
    
    %p
      В этом году секция E-commerce стала еще мощнее. Теперь это целых 2 дня от лидеров рынка и экспертов. 22 апреля мы откроем секцию докладом бизнесмена из Ульяновска, бизнес которого действует по всей России и интернет-магазин для этого предпринимателя лишь небольшая часть доходов с ежемесячным оборотом в десятки миллионов. В первый день своим опытом с нами также поделятся только реальные практики — серьезные крупные интернет-магазины
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=730#lecture_730", :title => ""} RealXenon
      = succeed "." do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=760#lecture_760", :title => ""} АудиоМания
      %a{:href => "http://nastachku.ru/lectures?lecture_id=769#lecture_769", :title => ""} Яндекс.Маркет
      приведет статистические данные и расскажет, как развивается рынок, куда стоит смотреть и идти.
    %p Получив позитивный заряд от крупных магазинов, которые смогли многое, во второй день мы начнем учиться, как достичь не меньших результатов любому бизнесу. 22 апреля мы пройдем все этапы становления интернет-магазина. Что примечательно, мы пригласили экспертов, которые так же 100% натуральные магазинщики, работавшие в крупных и средних магазинах, открывавшие проекты с нуля и приводившие их к высокой прибыли. Эти ребята на своем опыте проживали то, о чем говорят; они уже пережили те ошибки, которые совершают большинство интернет-магазинов и поделятся с нами, как их избежать.
    %p
      Статистика печальна: 90% интернет-магазинов закрываются в первые полгода так и не получив прибыли. Именно поэтому практический опыт так ценен для тех, кто всё-таки дерзает начать. Именно поэтому выжившие 10% получают максимальные доходы. Известнейшие люди е-коммерса —
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=623#lecture_623", :title => ""} Гай Карапетян
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=761#lecture_761", :title => ""} Сергей Егорушкин
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=625#lecture_625", :title => ""} Иван Никитин
      = succeed "\u{a0}\u{2014}" do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=717#lecture_717", :title => ""} Александр Сафонов
    %ul
      %h5 Я рекомендую обратить внимание на доклады
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=770#lecture_770", :title => ""}> Юрия Батиевского
        (Antop),
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=760#lecture_760", :title => ""} Дениса Тюрина
        (АудиоМания),
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=730#lecture_730", :title => ""} Александра Сафонова
        (RealXenon.ru),
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=769#lecture_769", :title => ""} Александра Феоктистова
        (Яндекс.Маркет),
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=705#lecture_705", :title => ""} Степана Чельцова
        и  Лукашевич Ольги,
        %a{:href => "http://nastachku.ru/lectures?lecture_id=623#lecture_623", :title => ""} Гая Карапетяна
        (Maido.ru, Emy-teplo.ru, Temaka.ru) и 
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=625#lecture_625", :title => ""} Ивана Никитина
        («Иван Никитин и партнеры»)
    .treatment-text-gray
      %a{:href => "http://nastachku.ru/lectures?q[workshop_id_eq]=12", :title => ""} Все доклады секции “E-commerce”
    %br
    %br
    %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} Digital-коммуникации
    %p В этом году в рамках секции Digital-коммуникации пройдет три подсекции: Digital-маркетинг, SEO, а также 3D-графика и видеопродакшн.
    %p Digital-маркетинг
    .treatment-item
      %img{:src => "/images/web/ezikov.jpg"}/
      %h3 Алексей Ежиков,
      %h4 директор по развитию RUWARD
      
    %p В этом году я участвовал в формировании секции «Digital-маркетинг», мы попытались разбить программу на две части. Первый день посвятить крупным системным разделам: стратегическому маркетингу, аналитике, дизайну пользовательского опыта в digital в широком смысле. Второй день — отдельным инструментам сегодняшнего и завтрашнего маркетинга: от социальных медиа до подключённого мира и виртуальной реальности в неигровом приложении. Так можно будет от общего перейти к частному, а от сегодняшнего — к будущему.
    %p Доклады в рамках секции Digital-коммуникации будут особенно полезны действующим и только становящимся маркетологам, топ-менеджерам веб-студий и digital-агентств, а также руководителям малого и среднего бизнеса, интересующимся онлайн-продвижением собственной компании.
    %p.clearfix
    %ul
      %h5 В числе докладчиков: в первый день:
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=836#lecture_836", :title => ""}> Андрей Терехов (Ruward)
        ,
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=489#lecture_489", :title => ""}> Михаил Кечинов (REES46)
        ,
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=506#lecture_506", :title => ""}> Юрий Ветров (Mail.ru)
        ,
    %ul
      во второй:
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=751#lecture_751", :title => ""}> Сергей Медведев (Potato Monsters CDS)
        ,
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=653#lecture_653", :title => ""}> Дмитрий Кириллов (VRAR Lab)
        ,
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=784#lecture_784", :title => ""}> Елена Куприянова (Телекомпания НТВ)
        ,
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=507#lecture_507", :title => ""}> Алексей Ёжиков (RUWARD)
        \.
    %br
    %br
    %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} SEO
    %br
    .treatment-item
      %img{:src => "/images/web/moiseenko.jpg"}/
      %h3 Александр Моисеенко,
      %h4 руководитель SEO.RU
      
    %p
      SEO — один из самых динамично мутирующих инструментов Digital’а и один из самых значимых для привлечения целевой аудитории. Мы подготовили для гостей конференции самые актуальные и свежие доклады о всех самых ярких трендах SEO 2016. Вашему вниманию будут представлены:
      %a{:href => "http://nastachku.ru/lectures?lecture_id=703#lecture_703", :title => ""} Василий Ткачев (allintop.ru)
      с рассказом о продвижении молодых сайтов в безссылочную эпоху,
      %a{:href => "http://nastachku.ru/lectures?lecture_id=716#lecture_716", :title => ""} Дмитрий Севальнев (pixelplus.ru)
      с насущными практическими рекомендациями для оптимизаторов,
      %a{:href => "http://nastachku.ru/lectures?lecture_id=652#lecture_652", :title => ""} Иван Никитин («Иван Никитин и партнеры»)
      посвятит вас в технологичный Google AMP,
      %a{:href => "http://nastachku.ru/lectures?lecture_id=591#lecture_591", :title => ""} Алексей Иванов (ISEE Marketing)
      научит улучшать поведенческие факторы сайтов и многие другие популярные спикеры.
    %p Ждем всех кому интересна тема поискового продвижения: владельцев сайтов, профессиональных и начинающих оптимизаторов, маркетологов и аналитиков. Расширьте свои знания со Стачкой!
    %p.clearfix
    %br
    %br
    %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} 3D-графика и видеопродакшн
    %br
    .treatment-item
      %img{:src => "/images/web/osyagin.jpg"}/
      %h3 Максим Осягин,
      %h4 директор «Аргента»
      
    %p Конференция наполнена слайдами, графиками, буквами и цифрами, — мы же хотели порадовать глаза наших гостей, погрузив из в мир красивого кино и видеорекламы. Среди топовых спикеров
    %p
      %a{:href => "http://nastachku.ru/lectures?lecture_id=516#lecture_516", :title => ""} Максим Алаев из R- STUDIOS, Realtime School
      расскажет про дрессировку CG массовки для Олимпийских игр (600 CG-шотов за два месяца!). Илья Остриков, руководитель отдела оперативной графики телеканала «Россия 24», расскажет о трендах в индустрии моушн-дизайна.
      = succeed "," do
        %a{:href => "http://nastachku.ru/lectures?lecture_id=799#lecture_799", :title => ""} Ольга Либерте
    %p Доклады нашей секции будут интересны для всех, кто занимается графикой и видеопродакшном, кто смотрит и любит фильмы, кто занимается 3D-архитектурой и создает персонажей для фильмов и игр или только планирует этим заняться. Представится уникальная возможность услышать о продвижении зарубежного бренда на российский рынок из уст не только агентства, но и владельца бизнеса, какие задачи стояли и как было налажено взаимодействие между клиентом и агентством.
    %p Как использовалась CG в видео с Олимпийских игр в Сочи, что нужно знать и уметь, чтобы стать успешным специалистом, а также как создавались визуальные эффекты, зрелищные, запоминающиеся кадры из второй части «Трансформеров» Майкла Бэя — все это ждет вас на «Стачке 2016» в секции 3D-графики и видеопродакшена. Приходите, будет красиво :)
    .treatment-text-gray
      %a{:href => "http://nastachku.ru/lectures?q[workshop_id_eq]=10", :title => ""} Все доклады секции Digital-коммуникации.
    %br
    %br
    %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} Контент-маркетинг
    %br
    .treatment-item
      %img{:src => "/images/web/trubetskov.jpg"}/
      %h3 Павел Трубецков
      %h4 Директор по маркетингу CS-Cart Россия
      
    %p Секция предназначена в первую очередь для владельцев бизнеса и для директоров, которым полезно приоткрыть глаза на суровую правду рынка: цена привлечения лида растет, качество поставляемых лидов за счет рекламы падает, — в сложившихся реалиях один из немногих вариантов «оставаться на плаву» — грамотно продуманная и реализованная стратегия контент-маркетинга.
    %p Для маркетологов данная секция — способ прокачать свою компетенцию, получить новые знания и повысить шанс не вылететь с работы в условиях кризиса и постоянного увеличения стоимости «традиционной» рекламы. Секция также будет полезна директорам веб-студий и Digital-агенств, которые хотят идти в ногу со временем и улучшать качество поставляемых ими услуг.
    %p Контернт-маркетинг — это не просто написание текстов для рассылок, это поэтапное выстраивание доверия у тех, кто еще не успел воспользоваться вашими услугами или не купил ваши продукты, но начинает думать об этом и изучать предложения на рынке. Это обучение клиентов, это взращивание в его глазах собственного авторитета и развитие лояльности к компании.
    %p В рамках секции мы рассмотрим живые кейсы из области e-mail-маркетинга и поймем как делать качественный и усваиваемый контент, мы также познакомимся с т.н. «магнитами трафика» — доступными способами привлечения дешевого трафика, который при знакомстве с товаром или услугой не готов к покупке, но живо интересуется темой.
    %ul
      %h5 В числе докладчиков:
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=735#lecture_735", :title => ""} Родион Скрябин
        (Лаборатория новых медиа),
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=810#lecture_810", :title => ""} Прокофьев Евгений
        (Вебпрофитерс) директор по развитию
    .treatment-text-gray
      %a{:href => "http://nastachku.ru/lectures?q[workshop_id_eq]=14", :title => ""} Все доклады секции “Контент-маркетинг”
    %br
    %br
    %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} ИТ: Человеческий капитал и образование
    %br
    .treatment-item
      %img{:src => "/images/web/vlasenko.jpg"}/
      %h3 Олег Власенко
      %h4 заместитель директора, СимбирСофт
    
    %p В данной секции мы постарались раскрыть тему человеческого капитала и образования на всех уровнях: школа, колледж, ВУЗ, небольшие компании и огромные корпорации. Доклады, собранные в рамках секции «ИТ: Человеческий капитал и образование» будут одинаково полезны как «поставщикам» специалистов (образовательные учреждения), так и людям, отвечающим за поиск сотрудников и их дальнейшее трудоустройство (HR’ы, руководители компаний и отдельных направлений). Секция также будет полезна для менеджеров, выросших из технических специалистов и занимающиеся поиском и наймом сотрудников.
    %p В пятницу мы собрали доклады для специалистов, которые растут и хотят продолжать развиваться, затронув темы саморазвития и проверенных способов повышения уровня собственной компетенции. В субботу пройдут доклады и круглый стол, особенно актуальные для учителей информатики.
    %ul
      %h5 В числе докладчиков:
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=655#lecture_655", :title => ""} Дмитрий Волошин
        (Mail.Ru Group),
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=733#lecture_733", :title => ""} Дединский Илья
        (МФТИ),
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=722#lecture_722", :title => ""} Мокевнин Кирилл
        (hexlet).
    .treatment-text-gray
      %a{:href => "http://nastachku.ru/lectures?q%5Bworkshop_id_eq%5D=15", :title => ""} Все доклады секции “Менеджмент и образование”
    %br
    %br
    %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} Мобильная разработка
    %br
    .treatment-item
      %img{:src => "/images/web/stolbova.jpg"}/
      %h3 Елена Столбова
      %h4 модератор секций «Мобильная разработка» и «Entertainment»
    
    %p В этом году секцию мобильной разработки мы условно поделили на два дня: В первый день будут доклады, посвященные продуктовым и маркетинговым кейсам, во второй технически ориентированные доклады, касающиеся непосредственно разработки мобильных приложений.
    %p Оба дня будут полезны как разработчикам, так руководителям проектов: первые смогут перенять опыт коллег по управлению проектами и выбору стратегического вектора развития; вторые смогут узнать про новые технологии, языки программирования и базы данных.
    %ul
      %h5 Доклады, на которые стоит обратить внимание:
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=833#lecture_833", :title => ""}> Владислав Дугнист, MLWorks «Разработка iOS приложений с MVVM»
        ,
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=821#lecture_821", :title => ""}> Андрей Мельников, Rambler&Co «Реактивный кэш в Android»
        ,
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=802#lecture_802", :title => ""}>
          Дмитрий Петерсон, SimbirSoft
          «Как попасть в яблочко при оценке мобильных приложений»
        \.
      %p.clearfix
      %br
      %br
      %h2.pagetitle.pagetitle__title.title--border{:style => "text-align: center;"} Entertainment
      %br
    .treatment-item
      %img{:src => "/images/web/stolbova.jpg"}/
      %h3 Елена Столбова
      %h4 модератор секций «Мобильная разработка» и «Entertainment»
      
    %p В Ульяновске сформировано плотное сообщество разработчиков мобильных игр, в числе которых можно упомянуть компании Mobirate, XiMAD, Machine Zone — крупные компании с успешными кейсами. В городе так же зародились и развиваются хорошо известные проекты, например, Drum Pads 24 и Купи Батон.
    %p В прошлом году для пробы мы отобрали 5 докладов, посвященных мобильным играм, и сделали небольшой entertainment-блок в рамках секции «Мобильная разработка». В итоге в зале многим не хватало места, — слушатели сидели на полу в проходах между рядами, забрасывая спикеров вопросами после выступлений. В итоге, недолго думая, в этом году организационный комитет конференции решил сделать полноценную секцию с 9 докладами, посвященными играм и развлечениям.
    %p Как и в прошлом году доклады секции «Entertainment» закреплены за «Мобильной разработкой». В этом году мы постарались отобрать для вас спикеров, которые помогут погрузиться в индустрию развлечений и сформировать за день насыщенных лекций представление о создании и управлении игровыми и VR-проектами. Финальную программу и расписание можно посмотреть на сайте, — секция пройдет в субботу в зале «Октябрьский». Приходите, вливайтесь в индустрию развлечений, где сосредоточенны многомиллионные бюджеты, креативные умы и дерзкие идеи. Станьте частью цифрового мира, в который c каждым годом вовлекается все больше и больше людей.

    %ul
      %h5 В числе докладчиков:
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=809#lecture_809", :title => ""}> Александр Шлыгин
        , Unity 3D «Основы разработки на Unity»,
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=739#lecture_739", :title => ""}> Алишер Якубов
        , 2reallife «Жизнь после релиза: управление игровыми f2p-проектами по метрикам»,
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=808#lecture_808", :title => ""}> Алексей Ильин
        , ВГТРК «Интерактивные продукты для детей» и два доклада от Fox3D «
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=737#lecture_737", :title => ""} Mobile VR: Мэйкинг-оф проекта «VirtPaint»
        и «
      %li
        %a{:href => "http://nastachku.ru/lectures?lecture_id=746#lecture_746", :title => ""}> Mobile VR: Intro & Мэйкинг-оф проекта «House of Languages»
        \.